authentication_backend:
  password_reset:
    disable: true
  ldap:
    implementation: "lldap"
    address: "ldap://lldap:3890"
    base_dn: "{{ 'DC=' ~ domain.split('.') | join(',DC=') }}"
    user: "CN=admin,OU=people,{{ 'DC=' ~ domain.split('.') | join(',DC=') }}"
    password: "{{ lldap_password }}"


identity_validation:
  reset_password:
    jwt_secret: {{ authelia_jwt_secret }}

session:
  secret: {{ authelia_session_secret }}
  cookies:
    - domain: 'auth.{{ domain }}'
      authelia_url: 'https://auth.{{ domain }}'

storage:
  encryption_key: {{ authelia_storage_encryption_key }}
  local:
    path: /data/db.sqlite3

notifier:
  filesystem:
    filename: /dev/null

access_control:
  default_policy: one_factor

identity_providers:
  oidc:
    hmac_secret: "{{ authelia_oidc_hmac_secret }}"
    jwks:
      - key_id: "default"
        algorithm: "RS256"
        key: |
{{ authelia_oidc_jwks_key | indent(10, True) }}
    clients:
      - client_id: "memos"
        client_name: "Memos"
        client_secret: "{{ authelia_client_memos_secret_digest }}"
        public: false
        authorization_policy: "one_factor"
        require_pkce: false
        pkce_challenge_method: ""
        redirect_uris:
          - "https://memos.{{ domain }}/auth/callback"
        scopes:
          - "openid"
          - "profile"
          - "email"
        response_types:
          - "code"
        grant_types:
          - "authorization_code"
        access_token_signed_response_alg: "none"
        userinfo_signed_response_alg: "none"
        token_endpoint_auth_method: "client_secret_basic"
